In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import re

%matplotlib inline

### Загружаем датасет ###

In [2]:
# загружаем все города и поселки

all_cities = pd.read_csv('C:/00_Projects/Russia_color/all_cities_clean.csv', encoding='utf-8')

In [3]:
all_cities

,aolevel,city_type,city,mun_district,region,okato,oktmo
0,6,х,Советский,Майкопский,Адыгея,7.922200e+10,7.962242e+10
1,6,ст,Шенджий,Тахтамукайский,Адыгея,7.923000e+10,7.963042e+10
2,6,ст-ца,Ханская,Майкоп,Адыгея,7.940100e+10,7.970100e+10
3,6,аул,Гатлукай,Адыгейск,Адыгея,7.940300e+10,7.970300e+10
4,6,х,Псекупс,Адыгейск,Адыгея,7.940300e+10,7.970300e+10
...,...,...,...,...,...,...,...
161531,6,с,Оборонное,Оборонное,Севастополь,6.726300e+10,6.730200e+10
161532,6,с,Морозовка,Морозовка,Севастополь,6.726300e+10,6.730000e+07
161533,6,с,Родниковое,Родниковое,Севастополь,6.726300e+10,6.730600e+10
161534,6,п,Кача,Кача,Севастополь,6.726900e+10,6.732000e+10
161535,6,с,Верхнесадовое,Верхнесадовое,Севастополь,6.726900e+10,6.731600e+10

In [4]:
color_list = ['красн',
              'амарант', 'багрян', 'борд', 'вишн', 'гранат', 'рубин', # оттенки
              
              'розов',
              
              'желт', 'жёлт',              
              'бежев', 'лимон', 'янтар',
              
              'золот', 'алтан', 

              
              'зелен', 'зелён',
              'лайм', 'олива',
              
              'голуб', 'бирюз',
              
              'сини', 'синь', 'синяя', 'сине',
              'лазур',
              
              'фиолет', 'сирен',
              'аметист',
              
              'бел', 
              
              'черн', 'чёрн',
              
              'рыжо', 'рыже', 'рыжи', 'рыжа'
              'охра', 'охри',
              'ржав',
                            
              'серый', 'серо', 'сере', 'сери', 'серая', 
              'серебр', 'сиз'
             ]

In [5]:
unnecessary = [    
    'морозов', # розовый
    
    'коржав', # оранжевый, рыжый и ржавый
    'крыж',            
       
    'аксинин', # синий
    'аксинь',
    'есинеевка',
    'гусине',
    
    'кобел', # белый
    'колыбел',
    'аганино',
    'агафон',
    'агеев',
    'аграфен',
    'академ',
    

    # черный
    'караул',
    'печерник',
    'шарапов',
    
    # оттенки
    
    'зарубин', # рубиновый
]

In [6]:
color_list_non_slavic = [
    
    # тюркские, монгольские, финские
    
    'кызыл', 'кизил', 'улан', 'нарьян', 'чевер' # красный
    
    'цаган', 'саган', # белый
    
    'кара', 'хара', 'шеме', # черный
    
    'яшел', # зеленый
    
    # синий
    
    'сары', 'шара' # желтый
]

In [7]:
%%time

# циклом отбираем строки с нужными корнями

color_cities = pd.DataFrame()

for color in color_list:
    temp = all_cities[all_cities.city.str.contains(color, case=False)]
    color_cities = color_cities.append(temp, ignore_index = True)

Wall time: 4.03 s

In [8]:
color_cities.shape

(5724, 7)

In [9]:
# удаляю дубликаты (образуются из-за перечения корней)

color_cities.drop_duplicates(inplace=True)

In [10]:
color_cities.shape

(5650, 7)

In [11]:
%%time

# удаляю циклом строки с лишними корнями

for toponym in unnecessary:
    color_cities = color_cities[~(color_cities.city.str.contains(toponym, case=False))]

Wall time: 52.9 ms

In [12]:
color_cities.shape

(5440, 7)

In [13]:
color_cities.sample(5)

,aolevel,city_type,city,mun_district,region,okato,oktmo
1867,6,п,Краснолесский,Узловский,Тульская область,7.024483e+10,7.064446e+10
2922,6,д,Зеленово,Куньинский,Псковская область,5.821687e+10,5.861643e+10
2969,6,д,Зеленый Луг,Велижский,Смоленская область,6.620382e+10,6.660346e+10
2738,6,д,Зеленино,Саянский,Красноярский край,4.248804e+09,4.648404e+09
1130,6,д,Красная Поляна,Арзамасский,Нижегородская область,2.220388e+10,2.260348e+10

In [14]:
#color_cities.to_excel('C:/Users/Boris/Desktop/work_cities.xlsx', index=False)

In [15]:
#color_cities.to_excel('C:/00_Projects/Russia_color/temp.xlsx', index=False)

In [16]:
%%time

# циклом отбираем строки с нужными корнями

color_cities_2 = pd.DataFrame()

for color in color_list_non_slavic:
    temp = all_cities[all_cities.city.str.contains(color, case=False)]
    color_cities_2 = color_cities_2.append(temp, ignore_index = True)
    
temp = all_cities[all_cities.city.str.contains('Ак', case=True)]
color_cities_2 = color_cities_2.append(temp, ignore_index = True)

temp = all_cities[all_cities.city.str.contains('Аг', case=True)]
color_cities_2 = color_cities_2.append(temp, ignore_index = True)

Wall time: 1.11 s

In [17]:
color_cities_2.shape

(1789, 7)

In [18]:
color_cities_2.drop_duplicates(inplace=True)

In [19]:
color_cities_2.shape

(1786, 7)

In [20]:
#color_cities_2.to_excel('C:/00_Projects/Russia_color/temp.xlsx', index=False)

### 100 самых распространенных названий ###

Если у поселков одного муниципального района одни и те же названия, в ФИАС указывается в скобках уточнение (обычно сельсовет).

Также в скобках иногда приводится второе название, но для нашей задачи они не важны (в топ-100 эти названия не входят).

In [21]:
# Количество названий с уточнениями

all_cities[all_cities.city.str.contains(' \(', case=False)].shape

(2160, 7)

In [33]:
# код удаляет уточнения (все, что после пробела и скобки)

(
    all_cities.city.replace(regex=True, to_replace=r' \(.*', value=r'')
    .replace(regex=True, to_replace=r'ё', value=r'е')
    .value_counts()
    .reset_index()
    .head(1000)
).to_excel('C:/00_Projects/Russia_color/temp.xlsx', index=False)